<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>StyleBot</title>
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/vendors_css.css">
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/style.css">
    <link rel="stylesheet" type="text/css" href="/uitemplate/eduadmin/css/skin_color.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body class="hold-transition light-skin sidebar-mini theme-primary fixed">

<div class="wrapper">

    <div th:replace="zxincludev1/top"></div>
    <div th:replace="zxincludev1/sidemenu"></div>