<script type="text/javascript" src="/uitemplate/eduadmin/js/vendors.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/icons/feather-icons/feather.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/vendor_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/js/template.js"></script>
<script src="/jquery/jquery-ui-1.13.1.custom/jquery-ui.js"></script>

<!-- user function -->
<script src="/js/common.js"></script>