<script type="text/javascript" src="/uitemplate/eduadmin/js/vendors.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/icons/feather-icons/feather.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/assets/vendor_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/uitemplate/eduadmin/js/template.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- user function -->
<script src="/resources/static/js/common.js"></script>