<div id="myModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm float-end" id="btnModalDelete"><i class="fa fa-remove"></i></button>
                <button type="button" class="btn btn-warning btn-sm float-end" id="btnModalUelete"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-secondary btn-sm float-end" data-bs-dismiss="modal"><i class="fa fa-angle-left"></i></button>
            </div>
        </div>
    </div>
</div>
