<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t5test.core.infra.code.CodeDao">

    <sql id ="selectCommon">
        FROM infrCode a
        LEFT JOIN infrCodeGroup b on b.ifcgSeq = a.ifcgSeq
        WHERE 1=1
        <if test="shUseNy != null and !shUseNy.equals('')">AND ifcdUseNy = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND ifcdDelNy = #{shDelNy}</if>
        <choose>
            <when test="shOption == 1">AND a.ifcgSeq = #{shValue}</when>
            <when test="shOption == 2">AND b.ifcgName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.ifcdSeq = #{shValue}</when>
            <when test="shOption == 4">AND a.ifcdSeqAnother = #{shValue}</when>
            <when test="shOption == 5">AND a.ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 6">AND a.ifcdNameEng LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>

    <select id="selectList" resultType="com.example.t5test.core.infra.code.CodeDto">
        <include refid="base.selectListUpperForMysql" />
        SELECT
            a.ifcgSeq
            ,b.ifcgName
            ,a.ifcdSeq
            ,a.ifcdSeqAnother
            ,a.ifcdName
            ,a.ifcdNameEng
            ,a.ifcdUseNy
            ,a.ifcdOrder
        <include refid="selectCommon" />
            ORDER BY a.ifcgSeq, a.ifcdOrder, a.ifcdSeq
        <include refid="base.selectListLowerForMysql" />
    </select>

    <select id="selectOneCount" resultType="Integer">
        SELECT COUNT(*)
        <include refid="selectCommon" />
    </select>

    <select id="selectOne" resultType="com.example.t5test.core.infra.code.CodeDto">
        SELECT
        a.*
        ,b.ifcgName
        FROM infrCode a
            LEFT JOIN infrCodeGroup b on b.ifcgSeq = a.ifcgSeq
        WHERE 1=1
            AND a.ifcdSeq = #{ifcdSeq}
    </select>

    <insert id="insert" parameterType="com.example.t5test.core.infra.code.CodeDto">
        INSERT INTO infrCode (
        ifcdSeqAnother
        ,ifcdName
        ,ifcdNameEng
        ,ifcdNameLang1
        ,ifcdNameLang2
        ,ifcdNameLang3
        ,ifcdNameLang4
        ,ifcdNameLang5
        ,ifcdNameLang6
        ,ifcdUseNy
        ,ifcdOrder
        ,ifcdReferenceV1
        ,ifcdReferenceV2
        ,ifcdReferenceV3
        ,ifcdReferenceV4
        ,ifcdReferenceI1
        ,ifcdReferenceI2
        ,ifcdReferenceI3
        ,ifcdReferenceI4
        ,ifcdDesc
        ,ifcdDelNy
        ,ifcgSeq
        )
        VALUES (
        #{ifcdSeqAnother}
        ,#{ifcdName}
        ,#{ifcdNameEng}
        ,#{ifcdNameLang1}
        ,#{ifcdNameLang2}
        ,#{ifcdNameLang3}
        ,#{ifcdNameLang4}
        ,#{ifcdNameLang5}
        ,#{ifcdNameLang6}
        ,#{ifcdUseNy}
        ,#{ifcdOrder}
        ,#{ifcdReferenceV1}
        ,#{ifcdReferenceV2}
        ,#{ifcdReferenceV3}
        ,#{ifcdReferenceV4}
        ,#{ifcdReferenceI1}
        ,#{ifcdReferenceI2}
        ,#{ifcdReferenceI3}
        ,#{ifcdReferenceI4}
        ,#{ifcdDesc}
        ,0
        ,#{ifcgSeq}
        )
        <selectKey resultType="String" keyProperty="ifcdSeq" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
    </insert>

    <update id="update">
        UPDATE infrCode
        SET
        ifcdSeqAnother = #{ifcdSeqAnother}
        ,ifcdName = #{ifcdName}
        ,ifcdNameEng = #{ifcdNameEng}
        ,ifcdNameLang1 = #{ifcdNameLang1}
        ,ifcdNameLang2 = #{ifcdNameLang2}
        ,ifcdNameLang3 = #{ifcdNameLang3}
        ,ifcdNameLang4 = #{ifcdNameLang4}
        ,ifcdNameLang5 = #{ifcdNameLang5}
        ,ifcdNameLang6 = #{ifcdNameLang6}
        ,ifcdUseNy = #{ifcdUseNy}
        ,ifcdOrder = #{ifcdOrder}
        ,ifcdReferenceV1 = #{ifcdReferenceV1}
        ,ifcdReferenceV2 = #{ifcdReferenceV2}
        ,ifcdReferenceV3 = #{ifcdReferenceV3}
        ,ifcdReferenceV4 = #{ifcdReferenceV4}
        ,ifcdReferenceI1 = #{ifcdReferenceI1}
        ,ifcdReferenceI2 = #{ifcdReferenceI2}
        ,ifcdReferenceI3 = #{ifcdReferenceI3}
        ,ifcdReferenceI4 = #{ifcdReferenceI4}
        ,ifcdDesc = #{ifcdDesc}
        ,ifcgSeq = #{ifcgSeq}
        WHERE 1=1
        AND ifcdSeq = #{ifcdSeq}
    </update>

    <update id="uelete">
        UPDATE infrCode
        SET
        ifcdDelNy = 1
        WHERE 1=1
        AND ifcdSeq = #{ifcdSeq}
    </update>

    <delete id="delete">
        DELETE FROM infrCode
        WHERE 1=1
          AND ifcdSeq = #{ifcdSeq}
    </delete>

    <select id="selectListWithoutPaging" resultType="com.example.t5test.core.infra.code.CodeDto">
        SELECT
            ifcgSeq
             ,ifcgName
        FROM infrCodeGroup
        WHERE 1=1
        ORDER BY ifcgSeq DESC
    </select>
</mapper>