<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.t5test.core.infra.codegroup.CodeGroupDao">
<!--    <sql id="deptColumns">-->
<!--        codeGroupName,-->
<!--        codeGroupNameEng,-->
<!--        codeGroupUseNY,-->
<!--        codeGroupDelNY,-->
<!--    </sql>-->

    <select id="selectList" resultType="com.example.t5test.core.infra.codegroup.CodeGroupDto">
        <include refid="base.selectListUpperForMysql" />
        SELECT
            codeGroupSeq,
            <include refid="base.deptColumns"/>
            codeGroupRegdate,
            codeGroupUpdate
            <include refid="selectCommon"/>
        ORDER BY
                codeGroupSeq DESC
            <include refid="base.selectListLowerForMysql" />
    </select>

    <select id="selectOneCount" resultType="Integer">
        SELECT COUNT(*)
        <include refid="selectCommon" />
    </select>

    <select id="selectOne" resultType="com.example.t5test.core.infra.codegroup.CodeGroupDto">
        SELECT codeGroupSeq,
        <include refid="base.deptColumns"/>
        codeGroupRegdate,
        codeGroupUpdate
        FROM CodeGroup
        WHERE 1=1
        AND codeGroupSeq = #{codeGroupSeq}
    </select>
    <insert id="insert" parameterType="com.example.t5test.core.infra.codegroup.CodeGroupDto">
        INSERT INTO CodeGroup(
        <include refid="base.deptColumns"/>
        codeGroupRegdate
        ) VALUES (
        #{codeGroupName},
        #{codeGroupNameEng},
        #{codeGroupUseNY},
        #{codeGroupDelNY},
        now()
        )
        <selectKey resultType="String" keyProperty="codeGroupSeq" order="AFTER">
            select last_insert_id()
        </selectKey>
    </insert>
    <update id="update" parameterType="com.example.t5test.core.infra.codegroup.CodeGroupDto">
        update CodeGroup
        SET
            codeGroupName = #{codeGroupName}
          ,codeGroupNameEng = #{codeGroupNameEng}
          ,codeGroupUseNY = #{codeGroupUseNY}
          ,codeGroupDelNY = #{codeGroupDelNY}
          ,codeGroupUpdate = now()
        WHERE
            codeGroupSeq = #{codeGroupSeq}
    </update>
    <update id="uelete" parameterType="com.example.t5test.core.infra.codegroup.CodeGroupDto">
        update CodeGroup
        SET
            codeGroupDelNY = 1
        WHERE
            codeGroupSeq = #{codeGroupSeq}
    </update>
    <delete id="delete">
        delete from CodeGroup
        where 1=1
          and codeGroupSeq = #{codeGroupSeq}
    </delete>

    <sql id="selectCommon">
        FROM CodeGroup
        WHERE 1=1
        <if test="shUseNy != null and !shUseNy.equals('')">AND codeGroupUseNY = #{shUseNy}</if>
        <if test="shDelNy != null and !shDelNy.equals('')">AND codeGroupDelNY = #{shDelNy}</if>
        <choose>
            <when test="shOptionDate == 1">AND codeGroupRegdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
            <when test="shOptionDate == 2">AND codeGroupUpdate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
        </choose>
        <choose>
            <when test="shOption == 1">AND codeGroupSeq = #{shValue}</when>
            <when test="shOption == 2">AND codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND codeGroupNameEng LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>

</mapper>