<div th:replace="zxincludev1/header"></div>
<form name="formList" id="formList" method="post">
    <div th:replace="/infra/code/codeVo"></div>
    <div class="content-wrapper">
        <div class="container-full">
            <section class="content">
                <h3 class="page-title">Code</h3>
                <div class="box">
                    <div class="box-body">
                        <div class="row mt-sm-4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">코드그룹</label>
                                    <select class="form-select" name="ifcgSeq" id="ifcgSeq">
                                        <option th:each="list : ${list}" th:value="${list.ifcgSeq}" th:text="${list.ifcgName}"></option>
                                    </select>
                                    <div class="invalid-feedback" id="ifcgSeqFeedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-sm-4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">코드</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="ifcdSeq" th:value="${item?.ifcdSeq}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">코드 (Another)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="ifcdSeqAnother" id="ifcdSeqAnother" th:value="${item?.ifcdSeqAnother}">
                                        <div class="invalid-feedback" id="ifcdSeqAnotherFeedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-sm-4">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">코드 이름</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="ifcdName" id="ifcdName" th:value="${item?.ifcdName}">
                                        <div class="invalid-feedback" id="ifcdNameFeedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">코드 이름(영문)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdNameEng" name="ifcdNameEng" th:value="${item?.ifcdNameEng}">
                                        <div class="invalid-feedback" id="ifcdNameEngFeedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">사용 여부</label>
                                    <div class="controls">
                                        <select class="form-select" name="ifcdUseNy" id="ifcdUseNy">
                                            <option></option>
                                            <option value="1" th:selected="${item?.ifcdUseNy == 1}">사용</option>
                                            <option value="0" th:selected="${item?.ifcdUseNy == 0}">미사용</option>
                                        </select>
                                        <div class="invalid-feedback" id="ifcdUseNyFeedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">순서</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdOrder" name="ifcdOrder" th:value="${item?.ifcdOrder}">
                                        <div class="invalid-feedback" id="ifcdOrderFeedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-sm--3">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">설명</label>
                                    <div class="controls">
                                        <textarea class="form-control" id="ifcdDesc" name="ifcdDesc" th:value="${item?.ifcdDesc}"></textarea>
                                        <div class="invalid-feedback" id="ifcdDescNameLang1Feedback"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-sm-3">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">다국어1 (varchar type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdNameLang1" name="ifcdNameLang1" th:value="${item?.ifcdNameLang1}">
                                        <div class="invalid-feedback" id="ifcdNameLang1Feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">다국어2 (varchar type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdNameLang2" name="ifcdNameLang2" th:value="${item?.ifcdNameLang2}">
                                        <div class="invalid-feedback" id="ifcdNameLang2Feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">다국어3 (varchar type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdNameLang3" name="ifcdNameLang3" th:value="${item?.ifcdNameLang3}">
                                        <div class="invalid-feedback" id="ifcdNameLang3Feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">다국어4 (varchar type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdNameLang4" name="ifcdNameLang4" th:value="${item?.ifcdNameLang4}">
                                        <div class="invalid-feedback" id="ifcdNameLang4Feedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">다국어5 (varchar type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdNameLang5" name="ifcdNameLang5" th:value="${item?.ifcdNameLang5}">
                                        <div class="invalid-feedback" id="ifcdNameLang5Feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">다국어6 (varchar type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdNameLang6" name="ifcdNameLang6" th:value="${item?.ifcdNameLang6}">
                                        <div class="invalid-feedback" id="ifcdNameLang6Feedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">예비1 (Int type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdReferenceI1" name="ifcdReferenceI1" th:value="${item?.ifcdReferenceI1}">
                                        <div class="invalid-feedback" id="ifcdReferenceI1Feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">예비2 (Int type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdReferenceI2" name="ifcdReferenceI2" th:value="${item?.ifcdReferenceI2}">
                                        <div class="invalid-feedback" id="ifcdReferenceI2Feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">예비3 (Int type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdReferenceI3" name="ifcdReferenceI3" th:value="${item?.ifcdReferenceI3}">
                                        <div class="invalid-feedback" id="ifcdReferenceI3Feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">예비4 (Int type)</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="ifcdReferenceI4" name="ifcdReferenceI4" th:value="${item?.ifcdReferenceI4}">
                                        <div class="invalid-feedback" id="ifcdReferenceI4Feedback"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="p-2"><button class="btn btn-info-light btn-sm" id="btnList"><i class="fa fa-list"></i></button></div>
                            <div class="p-2"><button class="btn btn-warning-light btn-sm" type="button" id="btnUelete" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-remove"></i></button></div>
                            <div class="p-2 me-auto">
                                <button class="btn btn-danger-light btn-sm" type="button" id="btnDelete" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-trash"></i></button>
                            </div>
                            <div class="p-2"><button class="btn btn-primary-light btn-sm" type="button" id="btnSubmit"><i class="fa fa-check"></i></button></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
    <div th:replace="zxincludev1/footer"></div>
    <div th:replace="zxincludev1/modalbase"></div>
</form>

<div th:replace="zxincludev1/linkJs"></div>
<script src="/js/includeForm.js"></script>
    <script>
        let goUrlInst = "/infra/code/codeInst";
        let goUrlUpdt = "/infra/code/codeUpdt";
        let goUrlDele = "/infra/code/codeDele";
        let goUrlList = "/infra/code/codeList"
        let goUrlUele = "/infra/code/codeUele"

        let seq = $("input:text[name=ifcdSeq]");

        function validationUpdt() {
            if(!checkSelectNull('ifcgSeq', 2, "코드그룹을 선택해 주세요.")) return false;
            if(!checkOnlyEnglishNumber('ifcdSeqAnother', 2, 1, "코드 (Another)는 영대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyKoreanEnglishNumber('ifcdName', 2, 0, "코드 이름은 한글, 영문대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyEnglishNumber('ifcdNameEng', 2, 1, "코드 이름 (영문)는 영대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyNumber('ifcdOrder', 2, 0, 1, 0, 255, "순서는 숫자(0~255)만 입력 가능합니다.")) return false;
            if(!checkOnlyEnglishNumber('ifcdNameLang1', 2, 1, "다국어1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyEnglishNumber('ifcdNameLang2', 2, 1, "다국어2 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyEnglishNumber('ifcdNameLang3', 2, 1, "다국어3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyEnglishNumber('ifcdNameLang4', 2, 1, "다국어4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyEnglishNumber('ifcdNameLang5', 2, 1, "다국어5 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyEnglishNumber('ifcdNameLang6', 2, 1, "다국어6 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
            if(!checkOnlyNumber('ifcdReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
            if(!checkOnlyNumber('ifcdReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
            if(!checkOnlyNumber('ifcdReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
            if(!checkOnlyNumber('ifcdReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
        }
    </script>

</body>
</html>
